:root {
    --text: #ffffff;
    --black-text: #000000;
    --background: #fafafc;
    --primary: #1b9a19;
    --secondary: #fec67f;
    --accent: #cd792f;
}

body {
    color: var(--text);
    background-color: var(--background);
    margin: 0;
    overflow: hidden;
}

main {
    background-image: url("Images/restaurant.avif");
    height: 100vh;
    width: 100vw;
}

button {
    border: none;
    cursor: pointer;
}

button:hover {
    filter: brightness(0.9);
}

.welcome {
    padding-top: 15rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 4rem;
    margin: 2rem;
}

.big-button {
    height: 6rem;
    width: 18rem;
    border-radius: 10px;
    font-size: 2rem;
    margin: 0 2rem;
}

#book {
    background-color: var(--primary);
    color: var(--text);
}

#avboka {
    background-color: var(--accent);
    color: var(--text);
}

.que {
    display: none;
}

.avboka {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: var(--black-text);
    display: none;
    justify-content: center;
    margin: 5rem 0;
}

.avboka-onerow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avboka h2 {
    color: var(--text);
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.avboka select {
    width: 16rem;
    height: 2.5rem;
    border-radius: 10px;
}

.avboka-button {
    height: 2.5rem;
    margin: 0 0.5rem;
}

#help-button {
    width: 2.5rem;
    background: none;
    color: var(--background);
    font-size: 2.5rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#confirm, #cancel {
    font-size: medium;
    font-weight: 500;
    border-radius: 10px;
}

dialog {
    width: 50rem;
    height: 40rem;
    align-items: center;
    border-radius: 1rem;
    border: none;
    overflow: hidden;
}

dialog img {
    transform: rotate(90deg);
    width: auto;
    height: 42rem;
    margin-left: calc(50% - 17.5rem);
}

dialog button {
    position: absolute;
    margin: 0.5rem 0.3rem;
    right: 0;
    top: 0;
    background: none;
    font-size: 2rem;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }